<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>История скидок</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Система хранения информации о товарах</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Товары</a></li>
                <li><a href="/sale_list/">Продажи</a></li>
                <li class="active"><a href="/discount_list/">История скидок</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>История скидок</h1>
        <hr/>
        <table class="table table-bordered">
            <thead>
            <th>Товар</th>
            <th>Стоимость</th>
            <th>Дата действия скидки</th>
            <th>Скидка</th>
            <th>Действует</th>
            </thead>
            <tbody>
            <tr th:each="ds : ${discounts}">
                <td th:text="${{ds.product.name}}"></td>
                <td th:text="${{ds.product.cost}}"></td>
                <td th:text="${{ds.dateDiscount}}"></td>
                <td th:text="${{ds.amount}}"></td>
                <td th:text="${{ds.Active}}? '+' : '-'"></td>
            </tr>
            </tbody>
        </table>


    </div>


</div>
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" th:src="@{/jquery.serializejson.min.js}"></script>

<script type="text/javascript" th:src="@{/script.js}"></script>

</html>