<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список товаров</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Система хранения информации о товарах</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Товары</a></li>
                <li><a href="/sale_list/">Продажи</a></li>
                <li><a href="/discount_list/">История скидок</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Информация о продуктах</h1>
        <hr/>
        <div class="col-xs-12 col-md-6">
            <table class="table table-bordered">
                <thead>
                <th>Название</th>
                <th>Стоимость</th>
                <th>Продажи</th>
                <th>Действия</th>
                </thead>
                <tbody>
                <tr th:each="pr : ${products}">
                    <td th:text="${{pr.name}}"></td>
                    <td th:text="${{pr.cost}}"></td>
                    <td>
                        <table class="table" th:if="${pr.sales != null}">
                            <thead>
                            <th>Дата продажи</th>
                            <th>Количество</th>
                            </thead>
                            <tbody>
                            <tr th:each="s : ${pr.sales}">
                                <td th:text="${{s.dateSale}}"></td>
                                <td th:text="${{s.quantity}}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td><a href="#" th:id="${pr.id}" class="edit-item"><span class="glyphicon glyphicon-pencil"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xs-12 col-md-6">
            <form name="save-form" id="saveform">
                <input type="hidden" name="id" />
                <div class="form-group">
                    <label for="name">Наименование:</label>
                    <input type="text" class="form-control" name="name" id="name" />
                </div>
                <div class="form-group">
                    <label for="cost">Цена:</label>
                    <input type="text" class="form-control" name="cost" id="cost" />
                </div>
                <button type="button" class="btn btn-info btn-lg" id="save-update">Добавить товар</button>
            </form>
        </div>

    </div>


</div>
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" th:src="@{/jquery.serializejson.min.js}"></script>

<script type="text/javascript" th:src="@{/script.js}"></script>

</html>