<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Информация о продажах</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Система хранения информации о товарах</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Товары</a></li>
                <li class="active"><a href="/sale_list/">Продажи</a></li>
                <li><a href="/discount_list/">История скидок</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Информация о продажах</h1>
        <hr/>
        <div class="col-xs-12 col-md-6">
            <table class="table table-bordered">
                <thead>
                    <th>Товар</th>
                    <th>Дата продажи</th>
                    <th>Кол-во</th>
                    <th>Стоимость за ед. товара</th>
                    <th>Скидка</th>
                    <th>Стоимость</th>
                </thead>
                <tbody>
                <tr th:each="sl : ${sales}">
                    <td th:text="${{sl.product.name}}"></td>
                    <td th:text="${{sl.dateSale}}"></td>
                    <td th:text="${{sl.quantity}}"></td>
                    <td th:text="${{sl.product.cost}}"></td>
                    <td><span th:if="${sl.discount != null}" th:text="${{sl.discount.amount}}">0</span></td>
                    <td th:text="${{sl.summaryCost}}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xs-12 col-md-6">
            <form name="save-form" id="saveform-sale">
                <input type="hidden" name="id" />
                <div class="form-group">
                    <label for="product">Товар:</label>
                    <select name="product" class="form-control"  id="product">
                        <option th:each="pr : ${productList}" th:value="${{pr.id}}" th:text="${{pr.name}}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="quantity">Количество:</label>
                    <input type="text" class="form-control" name="quantity" id="quantity" />
                </div>
                <div class="form-group">
                    <input type="hidden" name="discount_id" id="discount_id" />
                    <label for="amount">Скидка:</label>
                    <input type="text" class="form-control" th:readonly="readonly" name="amount" id="amount"/>
                </div>
                <div class="form-group">
                    <label for="cost">Стоимость за единицу товара:</label>
                    <input type="text" class="form-control" th:readonly="readonly" name="cost" id="cost" />
                </div>
                <button type="button" class="btn btn-info btn-lg" id="add-position">Добавить позицию</button>
            </form>
        </div>

    </div>


</div>
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" th:src="@{/jquery.serializejson.min.js}"></script>

<script type="text/javascript" th:src="@{/script.js}"></script>

</html>